<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>QUnit Test Suite</title>
<link rel="stylesheet" href="qunit.css">
<script src="../lib/jquery-1.7.1.min.js"></script>
<script src="../src/f.js"></script>
<script src="qunit.js"></script>
<script src="test.js"></script>
</head>
<body>
    <script type="text/x-tmpl" id="test">
        <div>
        	<p>test</p>
            <p><%= hoge %></p>
            <p><%- hoge2 %></p>
            <% for (var i = 0; i < 5; i++) { %>
                <p>test<%= i %></p>
            <% } %>
        </div>
    </script>
    <div id="qunit"></div>
    <div id="qunit-fixture">test markup</div>
</body>
</html>
